---
# Functions and routines associated with Enasis Network Orchestrations.

# This file is part of Enasis Network software eco-system. Distribution
# is permitted, for more information consult the project license file.






- name: Delete the installation on hypervisor

  ansible.builtin.file:
    path: '{{ _prvlibvirt_install }}'
    state: absent

  when:
    - provision_install | enasisnetwork.utility.present
    - provision_libvirt.enable

  delegate_to: '{{ provision_libvirt.host }}'
  throttle: 1

  tags: always
