---
# Functions and routines associated with Enasis Network Orchestrations.

# This file is part of Enasis Network software eco-system. Distribution
# is permitted, for more information consult the project license file.






- name: Include downstream tasks within roles

  ansible.builtin.include_tasks: >-
    state/nopower.yml

  tags: always






- name: Include downstream tasks within roles

  ansible.builtin.include_tasks: >-
    install/delete.yml

  tags: always






- name: Delete the guest within the hypervisor

  community.proxmox.proxmox_kvm:
    api_host: '{{ provision_proxmox.endpoint }}'
    api_port: '{{ provision_proxmox.port }}'
    api_user: '{{ provision_proxmox.username }}'
    api_token_id: >-
      {{ provision_proxmox.token or omit }}
    api_token_secret: >-
      {{ provision_proxmox.secret or omit }}
    api_password: >-
      {{ provision_proxmox.password or omit }}
    vmid: '{{ params.vmid }}'
    state: absent

  vars:
    params: '{{ _prvproxmox_params }}'

  delegate_to: localhost
  changed_when: true

  when:
    - provision_proxmox.enable
    - _prvproxmox_guest | enasisnetwork.utility.present
    - not ansible_check_mode

  tags: always



- name: Delete the guest within the hypervisor

  ansible.builtin.command: /bin/true

  delegate_to: '{{ provision_proxmox.host }}'
  changed_when: _prvproxmox_guest | enasisnetwork.utility.present
  check_mode: false

  when:
    - provision_proxmox.enable
    - ansible_check_mode
      or not _prvproxmox_guest | enasisnetwork.utility.present

  tags: always
