---
# Functions and routines associated with Enasis Network Orchestrations.

# This file is part of Enasis Network software eco-system. Distribution
# is permitted, for more information consult the project license file.






- name: Check the installation on hypervisor

  ansible.builtin.stat:
    path: '{{ _prvproxmox_install }}'

  register: _prvproxmox_install_present

  when:
    - provision_install | enasisnetwork.utility.present
    - provision_proxmox.enable

  delegate_to: '{{ provision_proxmox.host }}'
  throttle: 1

  tags: always



- name: Declare relevant playbook variables

  ansible.builtin.set_fact:

    _prvproxmox_install_present: >-
      {{- _prvproxmox_install_present.stat.exists -}}

  when:
    - provision_install | enasisnetwork.utility.present
    - provision_proxmox.enable

  tags: always
