---
# Functions and routines associated with Enasis Network Orchestrations.

# This file is part of Enasis Network software eco-system. Distribution
# is permitted, for more information consult the project license file.






- name: Upload the installation to hypervisor

  ansible.builtin.copy:
    src: '{{ _prvinstall_output }}'
    dest: '{{ _prvproxmox_install }}'
    mode: '0644'

  when:
    - provision_install | enasisnetwork.utility.present
    - provision_proxmox.enable

  delegate_to: '{{ provision_proxmox.host }}'
  throttle: 1

  tags: always
