[global]
keyboard = "en-us"
country = "us"
fqdn = "{{ provision_name }}.{{ provision_domain }}"
timezone = "UTC"
mailto = "root@localhost"
{% if provision_users | default %}
{%   set roots = [] %}
{%   for user in provision_users
      if user.state == 'present' %}
{%     set name = user.name %}
{%     if name == 'root' %}
{%       do roots.append(user) %}
{%     endif %}
{%   endfor %}
{%   if roots | length %}
root-password-hashed = "{{ roots[0].passhash.linux }}"
{%   endif %}
{% endif %}



{% if provision_network | default %}
{%   set nics = [] %}
{%   for nic in provision_network
      if nic.state == 'present'
      and nic.type == 'ethernet'
      and nic.gateway %}
{%     do nics.append(nic) %}
{%   endfor %}
{%   set name = nics[0].name %}
{%   set network = nics[0].ipaddr | Network %}
{%   set address = network.address_cidr %}
{%   set resolve = nics[0].resolve %}
{%   set hwaddr = nics[0].hwaddr %}
{%   set gateway = nics[0].gateway %}
[network]
source = "from-answer"
cidr = "{{ address }}"
gateway = "{{ gateway }}"
dns = "{{ resolve[0] }}"
{%   set hwaddr = (
       hwaddr
       | replace('-', '')
       | replace(':', '')) %}
filter.ID_NET_NAME_MAC = "*{{ hwaddr }}"
{% endif %}



{% if provision_storage | default %}
{%   set boot = _provision_bootable %}
[disk-setup]
filesystem = "xfs"
disk-list = ["{{ boot.name }}"]
{% endif %}
