[global]
keyboard = "en-us"
country = "us"
fqdn = "{{ provision_name }}.{{ provision_domain }}"
timezone = "UTC"
mailto = "root@localhost"
{% if provision_users | default %}
{%   set roots =
       provision_users
       | selectattr('state', 'equalto', 'present')
       | selectattr('name', 'equalto', 'root')
       | list %}
{%   if roots | length %}
root-password-hashed = "{{ roots[0].passhash.linux }}"
{%   endif %}
{% endif %}



{% if provision_network | default %}
{%   set nics =
       provision_network
       | selectattr('state', 'equalto', 'present')
       | selectattr('type', 'equalto', 'ethernet')
       | selectattr('gateway')
       | select('enasisnetwork.utility.present')
       | list %}
{%   set name = nics[0].name %}
{%   set network = nics[0].ipaddr | Network %}
{%   set address = network.address_cidr %}
{%   set resolve = nics[0].resolve %}
{%   set hwaddr = nics[0].hwaddr %}
{%   set gateway = nics[0].gateway %}
[network]
source = "from-answer"
cidr = "{{ address }}"
gateway = "{{ gateway }}"
dns = "{{ resolve[0] }}"
{%   set hwaddr = (
       hwaddr
       | replace('-', '')
       | replace(':', '')) %}
filter.ID_NET_NAME_MAC = "*{{ hwaddr }}"
{% endif %}



{% if provision_storage | default %}
{%   set boot = _provision_bootable %}
[disk-setup]
filesystem = "xfs"
disk-list = ["{{ boot.name }}"]
{% endif %}
