<?xml version="1.0" encoding="utf-8"?>
<!-- https://learn.microsoft.com/en-us/windows-hardware/customize/desktop/unattend -->
<unattend xmlns="urn:schemas-microsoft-com:unattend">






{# ========================================================================== #}
  <settings pass="windowsPE">
{# -------------------------------------------------------------------------- #}
    <component
      name="Microsoft-Windows-International-Core-WinPE"
      processorArchitecture="amd64"
      publicKeyToken="31bf3856ad364e35"
      language="neutral"
      versionScope="nonSxS"
      xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <SetupUILanguage>
        <UILanguage>en-US</UILanguage>
      </SetupUILanguage>
      <InputLocale>0409:00000409</InputLocale>
      <SystemLocale>en-US</SystemLocale>
      <UILanguage>en-US</UILanguage>
      <UserLocale>en-US</UserLocale>
    </component>
{# -------------------------------------------------------------------------- #}
    <component
      name="Microsoft-Windows-Setup"
      processorArchitecture="amd64"
      publicKeyToken="31bf3856ad364e35"
      language="neutral"
      versionScope="nonSxS"
      xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <Diagnostics>
        <OptIn>false</OptIn>
      </Diagnostics>
      <ImageInstall>
        <OSImage>
          <InstallFrom>
            <MetaData wcm:action="add">
              <Key>/IMAGE/NAME</Key>
              <Value>Windows 11 Pro</Value>
            </MetaData>
          </InstallFrom>
        </OSImage>
      </ImageInstall>
      <UserData>
        <AcceptEula>true</AcceptEula>
        <ProductKey>
          <WillShowUI>OnError</WillShowUI>
          <Key></Key>
        </ProductKey>
      </UserData>
      <UseConfigurationSet>false</UseConfigurationSet>
    </component>
{# -------------------------------------------------------------------------- #}
{% if provision_kind == 'virtual' %}
    <component
      name="Microsoft-Windows-PnpCustomizationsWinPE"
      processorArchitecture="amd64"
      publicKeyToken="31bf3856ad364e35"
      language="neutral"
      versionScope="nonSxS"
      xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <DriverPaths>
        <PathAndCredentials wcm:keyValue="1" wcm:action="add">
          <Path>D:\virtio\by-driver\viostor\w11\amd64</Path>
        </PathAndCredentials>
      </DriverPaths>
    </component>
{% endif %}
{# -------------------------------------------------------------------------- #}
  </settings>
{# ========================================================================== #}






{# ========================================================================== #}
  <settings pass="specialize">
{# -------------------------------------------------------------------------- #}
    <component
      name="Microsoft-Windows-Shell-Setup"
      processorArchitecture="amd64"
      publicKeyToken="31bf3856ad364e35"
      language="neutral"
      versionScope="nonSxS"
      xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <ComputerName>{{ provision_name }}</ComputerName>
      <TimeZone>UTC</TimeZone>
    </component>
{# -------------------------------------------------------------------------- #}
    <component
      name="Microsoft-Windows-DNS-Client"
      processorArchitecture="amd64"
      publicKeyToken="31bf3856ad364e35"
      language="neutral"
      versionScope="nonSxS"
      xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <DNSDomain>{{ provision_domain }}</DNSDomain>
      <DNSSuffixSearchOrder>
        <DomainName wcm:action="add" wcm:keyValue="1">{{ provision_domain }}</DomainName>
      </DNSSuffixSearchOrder>
{% if provision_network | default %}
      <Interfaces>
{%   for nic in provision_network
      if nic.state == 'present'
      and nic.type == 'ethernet'
      and nic.gateway %}
{%     set hwaddr = nic.hwaddr | upper | replace(':', '-') %}
{%     set resolve = nic.resolve %}
        <Interface wcm:action="add">
          <Identifier>{{ hwaddr }}</Identifier>
          <DNSDomain>{{ provision_domain }}</DNSDomain>
          <DNSServerSearchOrder>
{%     for server in resolve %}
            <IpAddress wcm:action="add" wcm:keyValue="{{ loop.index }}">{{ server }}</IpAddress>
{%     endfor%}
          </DNSServerSearchOrder>
        </Interface>
{%   endfor %}
      </Interfaces>
{% endif %}
    </component>
{# -------------------------------------------------------------------------- #}
{% if provision_network | default %}
    <component
      name="Microsoft-Windows-TCPIP"
      processorArchitecture="amd64"
      publicKeyToken="31bf3856ad364e35"
      language="neutral"
      versionScope="nonSxS"
      xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <Interfaces>
{%   for nic in provision_network
      if nic.state == 'present'
      and nic.type == 'ethernet' %}
{%     set network = nic.ipaddr | Network %}
{%     set address = network.address_cidr %}
{%     set hwaddr = nic.hwaddr | upper | replace(':', '-') %}
{%     set gateway = nic.gateway %}
        <Interface wcm:action="add">
          <Ipv4Settings>
            <DhcpEnabled>false</DhcpEnabled>
            <Metric>20</Metric>
            <RouterDiscoveryEnabled>false</RouterDiscoveryEnabled>
          </Ipv4Settings>
          <Ipv6Settings>
            <DhcpEnabled>false</DhcpEnabled>
            <Metric>30</Metric>
            <RouterDiscoveryEnabled>false</RouterDiscoveryEnabled>
          </Ipv6Settings>
{%     if hwaddr is not none %}
          <Identifier>{{ hwaddr }}</Identifier>
{%     endif %}
{%     if address is not none %}
          <UnicastIpAddresses>
            <IpAddress wcm:action="add" wcm:keyValue="1">{{ address }}</IpAddress>
          </UnicastIpAddresses>
{%     endif %}
{%     if gateway is not none %}
          <Routes>
            <Route wcm:action="add">
              <Identifier>1</Identifier>
              <Metric>10</Metric>
              <NextHopAddress>{{ gateway }}</NextHopAddress>
              <Prefix>0.0.0.0/0</Prefix>
            </Route>
          </Routes>
{%     endif %}
        </Interface>
{%   endfor %}
      </Interfaces>
    </component>
{% endif %}
{# -------------------------------------------------------------------------- #}
  </settings>
{# ========================================================================== #}






{# ========================================================================== #}
  <settings pass="oobeSystem">
{# -------------------------------------------------------------------------- #}
    <component
      name="Microsoft-Windows-Shell-Setup"
      processorArchitecture="amd64"
      publicKeyToken="31bf3856ad364e35"
      language="neutral"
      versionScope="nonSxS"
      xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
{% if provision_users | default %}
{%   set roots =
       provision_users
       | selectattr('state', 'equalto', 'present')
       | selectattr('name', 'in', ['root', 'administrator'])
       | list %}
{%   set users =
       provision_users
       | selectattr('state', 'equalto', 'present')
       | rejectattr('name', 'in', ['root', 'administrator'])
       | selectattr('initial', 'equalto', true)
       | list %}
      <UserAccounts>
{%   if roots | length %}
        <AdministratorPassword>
          <Value>{{ roots[0].password }}</Value>
          <PlainText>true</PlainText>
        </AdministratorPassword>
{%   endif %}
{%   if users | length %}
        <LocalAccounts>
{%     for user in users %}
{%       set name = user.name %}
{%       set password = user.password %}
{%       set gid = user.gid %}
{%       set display = user.display %}
{%       set initial = user.initial %}
{%       if initial is true %}
          <LocalAccount wcm:action="add">
            <Name>{{ name }}</Name>
{%         if display is not none %}
            <DisplayName>{{ display }}</DisplayName>
{%         endif %}
            <Group>{{ gid or 'Users' }}</Group>
            <Password>
              <Value>{{ password }}</Value>
              <PlainText>true</PlainText>
            </Password>
          </LocalAccount>
        </LocalAccounts>
{%       endif %}
{%     endfor %}
{%   endif %}
      </UserAccounts>
      <AutoLogon>
        <Username>{{ roots[0].name }}</Username>
        <Domain>.</Domain>
        <Password>
          <Value>{{ roots[0].password }}</Value>
          <PlainText>true</PlainText>
        </Password>
        <Enabled>true</Enabled>
        <LogonCount>2</LogonCount>
      </AutoLogon>
      <FirstLogonCommands>
        <SynchronousCommand wcm:action="add">
          <Order>1</Order>
          <CommandLine>cmd /c > c:\windows\temp\orchestro-shell.log 2>$1 (FOR %i IN (A B C D E F G H I J K L N M O P Q R S T U V W X Y Z) DO IF EXIST %i:\orchestro.ps1 (powershell -executionpolicy bypass -noprofile -File %i:\orchestro.ps1))</CommandLine>
        </SynchronousCommand>
      </FirstLogonCommands>
{% endif %}
      <OOBE>
        <HideEULAPage>true</HideEULAPage>
        <HideOEMRegistrationScreen>true</HideOEMRegistrationScreen>
        <HideOnlineAccountScreens>true</HideOnlineAccountScreens>
        <HideWirelessSetupInOOBE>true</HideWirelessSetupInOOBE>
        <NetworkLocation>Work</NetworkLocation>
        <SkipUserOOBE>true</SkipUserOOBE>
        <SkipMachineOOBE>true</SkipMachineOOBE>
        <HideLocalAccountScreen>true</HideLocalAccountScreen>
        <ProtectYourPC>3</ProtectYourPC>
      </OOBE>
    </component>
{# -------------------------------------------------------------------------- #}
  </settings>
{# ========================================================================== #}






</unattend>
