---
# Functions and routines associated with Enasis Network Orchestrations.

# This file is part of Enasis Network software eco-system. Distribution
# is permitted, for more information consult the project license file.






- name: Assert conditions for downstream tasks

  ansible.builtin.assert:
    that:

      - >-  # always in serial mode
        ansible_play_batch | length == 1

  tags: always






- name: Include downstream tasks within roles

  ansible.builtin.include_tasks: >-
    mount/absent.yml

  tags: always






- name: Delete files and folders from operation

  ansible.builtin.file:
    path: '{{ item.path }}'
    state: absent

  loop:
    - path: '{{ _prvinstall_distrib }}'
    - path: '{{ _prvinstall_prepare }}'
    - path: '{{ _prvinstall_output }}'
    - path: '{{ _prvinstall_unattend }}'
    - path: '{{ _prvinstall_unscript }}'

  loop_control:
    label: '{{ item.path | basename }}'

  delegate_to: localhost

  when: provision_install | enasisnetwork.utility.present

  tags: always
