---
# Functions and routines associated with Enasis Network Orchestrations.

# This file is part of Enasis Network software eco-system. Distribution
# is permitted, for more information consult the project license file.






- name: Declare relevant playbook variables

  ansible.builtin.set_fact:

    _prvinstall_distrib: >-
      {{ stage }}/{{ family }}-dist
    _prvinstall_prepare: >-
      {{ stage }}/{{ family }}-prep

    _prvinstall_download: >-
      {%- set path = install.source -%}
      {{- path
          if path and path[:4] == 'http'
          else none -}}
    _prvinstall_source: >-
      {{- '%s/%s' | format(stage, install.cached)
          if install.cached else install.source -}}
    _prvinstall_srchash: >-
      {{ install.checksum | default }}

    _prvinstall_unattend: >-
      {{ stage }}/{{ hostname }}-unattend
    _prvinstall_unscript: >-
      {{ stage }}/{{ hostname }}-unscript

    _prvinstall_certpkcs12: >-
      {{ provision_install
         | enasisnetwork.utility.getate(
           "certificate/windows/certificate") }}
    _prvinstall_certthbpnt: >-
      {{ provision_install
         | enasisnetwork.utility.getate(
           "certificate/windows/thumbprint") }}

    _prvinstall_output: >-
      {{ stage }}/{{ hostname }}-install.iso

  vars:
    hostname: '{{ inventory_hostname }}'
    family: '{{ provision_family }}'
    stage: '{{ provision_stage }}'
    install: '{{ provision_install }}'

  when: provision_install | enasisnetwork.utility.present

  tags: always
