---
# Functions and routines associated with Enasis Network Orchestrations.

# This file is part of Enasis Network software eco-system. Distribution
# is permitted, for more information consult the project license file.






- name: Assert conditions for downstream tasks

  ansible.builtin.assert:
    that:

      - >-  # always in serial mode
        ansible_play_batch | length == 1

  tags: always






- name: Construct prepare from the distribute
  # noqa: command-instead-of-module

  ansible.builtin.command: >-
    rsync
    --chmod=Du+rwx,Fu+rw
    --no-perms
    --no-owner
    --no-group
    --delete
    --hard-links
    --itemize-changes
    --links
    --recursive
    --size-only
    {{ '--dry-run' if ansible_check_mode else '' }}
    {{ _prvinstall_distrib.rstrip('/') }}/
    {{ _prvinstall_prepare.rstrip('/') }}/

  delegate_to: localhost
  register: _rsync
  changed_when: _rsync.stdout_lines | enasisnetwork.utility.present
  failed_when: _rsync.stderr | enasisnetwork.utility.present
  check_mode: false

  when: provision_install | enasisnetwork.utility.present

  tags: always






- name: Inject the VirtIO drivers into prepare
  # noqa: command-instead-of-module

  ansible.builtin.command: >-
    rsync
    --chmod=Du+rwx,Fu+rw
    --no-perms
    --no-owner
    --no-group
    --delete
    --hard-links
    --itemize-changes
    --links
    --recursive
    --size-only
    {{ '--dry-run' if ansible_check_mode else '' }}
    /usr/share/virtio-win/drivers/
    {{ _prvinstall_prepare.rstrip('/') }}/virtio/

  delegate_to: localhost
  register: _rsync
  changed_when: _rsync.stdout_lines | enasisnetwork.utility.present
  failed_when: _rsync.stderr | enasisnetwork.utility.present
  check_mode: false

  when:
    - provision_install | enasisnetwork.utility.present
    - provision_kind == 'virtual'
    - provision_family == 'windows'

  tags: always






- name: Inject the related drivers into prepare
  # noqa: command-instead-of-module

  ansible.builtin.command: >-
    rsync
    --chmod=Du+rwx,Fu+rw
    --no-perms
    --no-owner
    --no-group
    --delete
    --hard-links
    --itemize-changes
    --links
    --recursive
    --size-only
    {{ '--dry-run' if ansible_check_mode else '' }}
    {{ provision_drivers.rstrip('/') }}/
    {{ _prvinstall_prepare.rstrip('/') }}/orchestro_drivers/

  delegate_to: localhost
  register: _rsync
  changed_when: _rsync.stdout_lines | enasisnetwork.utility.present
  failed_when: _rsync.stderr | enasisnetwork.utility.present
  check_mode: false

  when:
    - provision_install | enasisnetwork.utility.present
    - provision_drivers | enasisnetwork.utility.present

  tags: always
