---
# Functions and routines associated with Enasis Network Orchestrations.

# This file is part of Enasis Network software eco-system. Distribution
# is permitted, for more information consult the project license file.






- name: Include downstream tasks within roles

  ansible.builtin.include_tasks: >-
    state/nopower.yml

  tags: always






- name: Include downstream tasks within roles

  ansible.builtin.include_tasks: >-
    install/delete.yml

  tags: always






- name: Delete the guest within the hypervisor

  community.libvirt.virt:
    command: undefine
    name: '{{ _prvlibvirt_name }}'
    flags: nvram

  delegate_to: '{{ provision_libvirt.host }}'
  changed_when: true

  when:
    - provision_libvirt.enable
    - _prvlibvirt_guest | enasisnetwork.utility.present
    - not ansible_check_mode

  tags: always



- name: Delete the guest within the hypervisor

  ansible.builtin.command: /bin/true

  delegate_to: '{{ provision_libvirt.host }}'
  changed_when: _prvlibvirt_guest | enasisnetwork.utility.present
  check_mode: false

  when:
    - provision_libvirt.enable
    - ansible_check_mode
      or not _prvlibvirt_guest | enasisnetwork.utility.present

  tags: always






- name: Delete the disks for the virtual guest

  ansible.builtin.file:
    path: '{{ image }}'
    state: absent

  vars:
    image: >-
      {%- set name = item.name -%}
      {%- set virtual = item.virtual -%}
      {%- set base = _prvlibvirt_name -%}
      {%- set stores = _prvlibvirt_stores -%}
      {%- set store = virtual.store -%}
      {%- set path = stores[store].path -%}
      {{ path }}/{{ base }}-{{ name }}.img

  loop: '{{ provision_storage or [] }}'

  loop_control:
    label: '{{ image }}'

  delegate_to: '{{ provision_libvirt.host }}'

  when:
    - provision_storage | enasisnetwork.utility.present
    - provision_libvirt.enable

  tags: always
