---
# Functions and routines associated with Enasis Network Orchestrations.

# This file is part of Enasis Network software eco-system. Distribution
# is permitted, for more information consult the project license file.






- name: Update status for guest in hypervisor

  community.libvirt.virt:
    command: destroy
    name: '{{ _prvlibvirt_name }}'

  delegate_to: '{{ provision_libvirt.host }}'
  changed_when: true

  when:
    - provision_libvirt.enable
    - _prvlibvirt_guest | enasisnetwork.utility.present
    - not ansible_check_mode
    - _prvlibvirt_guest | enasisnetwork.utility.present
      and _prvlibvirt_guest.state != "shutdown"

  tags: always



- name: Update status for guest in hypervisor

  ansible.builtin.command: /bin/true

  delegate_to: '{{ provision_libvirt.host }}'
  changed_when: _prvlibvirt_guest.state != "shutdown"
  check_mode: false

  when:
    - provision_libvirt.enable
    - ansible_check_mode
      or (_prvlibvirt_guest | enasisnetwork.utility.present
          and _prvlibvirt_guest.state == "shutdown")
    - _prvlibvirt_guest | enasisnetwork.utility.present

  tags: always
